/* font */
@font-face {
  font-family: "shsB";
  src: url(../font/SpoqaHanSansNeo-Bold.ttf);
}

@font-face {
  font-family: "shsM";
  src: url(../font/SpoqaHanSansNeo-Medium.ttf);
}

@font-face {
  font-family: "shsR";
  src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}

@font-face {
  font-family: "shsL";
  src: url(../font/SpoqaHanSansNeo-Light.ttf);
}

@font-face {
  font-family: "shsT";
  src: url(../font/SpoqaHanSansNeo-Thin.ttf);
}

body {
  font-family: "shsR";
  color: #333;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

header .header_i {
  max-width: 1650px;
  height: 100%;
  background-color: violet;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* h > logo */
header .header_i .logo {
  width: 46px;
  height: 36px;
}

/* h > category */

/* h > search */
header .header_i .srchbox {
  width: 200px;
  height: 76px;
  background-color: yellow;
}

header .header_i .srchbox .srchbox_top {
  display: flex;
  justify-content: space-between;
}

header .header_i .srchbox .srchbox_top a {
  display: flex;
}

header .header_i .srchbox .srchbox_top a i {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

header .header_i .srchbox .srchbox_top a .srchtext {
  font-size: 14px;
}

/* h > etc */
header .header_i .etcbox {
  display: none;
}